In [11]:
import pandas as pd 
import yfinance as yf

In [12]:
df_N225 = yf.download('^N225', 
                       start='2015-01-01', 
                       end='2019-12-31',
                       progress=False)

In [13]:
df_N225.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-24,23839.179688,23853.560547,23796.349609,23830.580078,23830.580078,37900000
2019-12-25,23813.589844,23824.849609,23782.869141,23782.869141,23782.869141,31600000
2019-12-26,23787.699219,23931.509766,23775.400391,23924.919922,23924.919922,40300000
2019-12-27,23953.750000,23967.179688,23837.720703,23837.720703,23837.720703,44800000
2019-12-30,23770.929688,23782.490234,23656.619141,23656.619141,23656.619141,41600000

In [14]:
#convert to dollars
data = df_N225['Close']*0.0073

In [15]:
#Get St/S0
data = data/data[0]

In [16]:
data

Date
2015-01-05    1.000000
2015-01-06    0.969813
2015-01-07    0.969936
2015-01-08    0.986121
2015-01-09    0.987881
                ...
2019-12-24    1.368888
2019-12-25    1.366148
2019-12-26    1.374307
2019-12-27    1.369298
2019-12-30    1.358896
Name: Close, Length: 1223, dtype: float64